In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('data\\titanic.csv')

In [4]:
data.head()

,Survived,Pclass,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,no,3,male,22.0,1,0,7.2500
1,yes,1,female,38.0,1,0,71.2833
2,yes,3,female,26.0,0,0,7.9250
3,yes,1,female,35.0,1,0,53.1000
4,no,3,male,35.0,0,0,8.0500

In [13]:
predictors = list(data.columns)

In [14]:
target = "Survived"

In [17]:
predictors.remove(str(target))

ValueError: list.remove(x): x not in list

In [16]:
predictors

['Pclass',
 'Sex',
 'Age',
 'Siblings/Spouses Aboard',
 'Parents/Children Aboard',
 'Fare']